<form action="/players" method="post">
  <label for="name">Character Name: </label>
  <input id="name" type="text" name="name">
<br>
  <label for="race">Race: </label>
  <select id="race" name="race">
    <option value="Human">Human</option>
    <option value="Orc">Orc</option>
    <option value="Gnome">Gnome</option>
    <option value="Troll">Troll</option>
    <option value="Elf">Elf</option>
    <option value="Halfling">Halfling</option>
  </select>
<br>
  <label for="class">Class: </label>
  <select name="class" id="class">
    <option value="Warrior">Warrior</option>
    <option value="Paladin">Paladin</option>
    <option value="Mage">Mage</option>
    <option value="Thief">Thief</option>
    <option value="Priest">Priest</option>
    <option value="Hunter">Hunter</option>
  </select>
<br>
  <label for="health">Enter max health: </label>
  <input id= "health" type="number" name="health">
<br>
  <label for="weapon">Weapon: </label>
  <input id="weapon" type="text" name="weapon">
<br>
  <label for="armour">Armour: </label>
  <input id="armour" type="text" name="armour">
<br>
  <label for="potions">Potions: </label>
  <input id="potions" type="text" name="potions">
<br>
  <input type="submit" value="Submit Character">
</form>
