<h1>Drains & Drakes</h1>

<p>Welcome! To the handy stat tracking app for any dungeon master.</p>

<p>To begin using the app, simply follow the prompt below to embark on your adventure and enter the player's character information, good luck!</p>

<a href="/players">Begin!</a>
